/* Utilities */
.u-display-block {
    display: block;
}

.u-mt-40 {
    margin-top: calc(40 / var(--font-default) * 1rem);

}

.u-mb-section {
    margin-bottom: calc(32 / var(--font-default) * 1rem);

    /* 768px */
    @media only screen and (min-width: 48em) {
        margin-bottom: calc(40 / var(--font-default) * 1rem);
    }
}

.u-mb-0 {
    margin-bottom: 0;
}

.u-mb-24 {
    margin-bottom: calc(24 / var(--font-default) * 1rem);
}

.u-mb-32 {
    margin-bottom: calc(32 / var(--font-default) * 1rem);
}

.u-text-align-right {
    text-align: right;
}

.u-sr-only {
    border-width: 0;
    clip :rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.u-link-reset-hover {
    &:hover,
    &:active,
    &:focus {
        background-color: transparent;
        outline: none;
    }
}