<header class="m-header">
    <h1 class="u-sr-only">el hada y la ballena, proyecto de creación</h1>
    <form class="c-high-contrast">
        <input id="highContrastCheckbox" type="checkbox" class="c-high-contrast__input js-high-contrast">
        <label for="highContrastCheckbox" class="c-high-contrast__label">
            <span class="u-sr-only">Activar modo alto contraste</span>
        </label>
    </form>
    <p class="h1">el hada y la ballena <span class="subtitle u-display-block">
        se han encontrado...</span>
    </p>
</header>