<head>
    <title>el hada y la ballena, proyecto de creación en busca de la alegría del instante</title>
    <meta name="description" content="el hada y la ballena es un proyecto de creación inclasificable que
    busca la alegría del instante y la apertura de caminos a través de los procesos artísticos y vitales">
    <meta name="keywords" content="creación, arte escénico, poesía, música, cine, artesanía">
    <meta charset="utf-8">
    <!-- tipo -->
    <link rel="stylesheet" href="https://use.typekit.net/qdx6ikg.css">
    <meta name="author" content="abbyrodd">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
    <meta name="robots" content="all">
    <link rel="shortcut icon" href="/img/elhadaylaballena.ico" type="image/x-icon">
    <link rel="stylesheet" media="screen" href="/css/main.css">
    <script src="/js/m-theme-toogle.js" defer></script>
    <script src="/js/main.js" defer></script>
</head>