<!DOCTYPE html>
<html lang="en" data-theme="normal">
    {% include "m-head.html" %}
    <body>

        {% include "m-header.html" %}

        <main>
            <ul class="c-breadcrumbs">
                <li><a href="/">Home</a></li>
                <li>Algo bello</li>
            </ul>
            <p class="h2">Algo bello.</p>
            <p class="u-mb-section">
                Traducir, interpretar, revelar, enfocar, descubrir, compartir... esta es nuestra mirada.
            </p>
            <ul class="c-list-details">
                <li class="c-list-details__detail">
                    <img src="/img/beauty/drop.jpg" alt="Gota de agua en el borde de una flor">
                </li>
                <li class="c-list-details__detail">
                    <img src="/img/beauty/peacock.jpg" alt="Detalle pluma pavo real">
                </li>
                <li class="c-list-details__detail">
                    <img src="/img/beauty/leaf.jpg" alt="Hojas otoñales sobre pizarra negra">
                </li>
                <li class="c-list-details__detail">
                    <img src="/img/beauty/stone.jpg" alt="Primerísimo plano de una piedra con brillos de varios colores azulados, dorados y violetas">
                </li>
            </ul>
    
        </main>


        {% include "m-footer.html" %}
    </body>
</html>
