<!DOCTYPE html>
<html lang="en" data-theme="normal">
    {% include "m-head.html" %}

    <body>
        
        {% include "m-header.html" %}

        <main>
            <p class="h2 u-mt-40">Proyecto de creación.</p>
            <p>
                El hada y la ballena surge de un kairós, del encuentro de dos personalidades, dos fuerzas diferentes
                que se reconocen como una, iniciando así un camino de aprendizaje a través de conversaciones y
                procesos artísticos y de creación. El descubrimiento de uno mismo en el otro, nos trae de golpe la
                conciencia del todo.
            </p>
            <p><strong>El hacer</strong>: la escena, la música, la escritura, lo fílmico, la artesanía.</p>
            <p><strong>El estar</strong>: con el otro y uno mismo, en el discurrir.</p>
            <p class="u-mb-section">
                <a href="mailto:hola@elhadaylaballena.com">hola@elhadaylaballena.com</a>
            </p>

            <h2 class="h2">¿Qué estamoss haciendo?</h2>
            <ul class="c-list-products">
                <li>
                    <a class="c-list-products__link c-list-products__link--soaps u-link-reset-hover" href="/jabones/">
                        <span>Jabones</span>
                    </a>
                </li>
                <li>
                    <a class="c-list-products__link c-list-products__link--beauty u-link-reset-hover" href="/algo-bello/">
                        <span>Algo bello</span>
                    </a>
                </li>
            </ul>

        </main>

        {% include "m-footer.html" %}

    </body>
</html>
