<!DOCTYPE html>
<html lang="en" data-theme="normal">
    
    {% include "m-head.html" %}

    <body>

       {% include "m-header.html" %}

        <main>
            <ul class="c-breadcrumbs">
                <li><a href="/">Home</a></li>
                <li>Jabones</li>
            </ul>

            <h2 class="h2">Jabones artesanos enfieltrados.</h2>
            <p>
                Hacemos jabones con base de glicerina sin sulfatos, de forma artesanal, añadiendo solo aromas naturales, 
                aceite de almendras dulces y Vitamna E. Sin colorantes. Cada jabón es único, enfieltrado a mano con lana 100% merino.
            </p>
            <p>
                El jabón enfieltrado es un jabón con esponja incorporada de lana. Esta le aporta propiedades antibacterianas y 
                antisépticas, así como un exfoliado suave. Además, protege la pastilla de jabón, alargando su duración.
            <p class="u-mb-section">
                Hacemos jabones personalizados, con diseño inspirado en una persona, idea, negocio, emoción... individuales o en colección.
            </p>

            <ul class="c-list-details">
                <li class="c-list-details__detail">
                    <img src="/img/soaps/soap-a-1.jpg" alt="Jabón enfieltrado en tonos azules">
                </li>
                <li class="c-list-details__detail">
                    <img src="/img/soaps/soap-a-2.jpg" alt="Jabón enfieltrado en tonos naranja y amarillo">
                </li>
                <li class="c-list-details__detail">
                    <img src="/img/soaps/soap-a-3.jpg" alt="Jabón enfieltrado en tonos rosas y blancos">
                </li>
                <li class="c-list-details__detail">
                    <img src="/img/soaps/soap-a-4.jpg" alt="Colección de jabones inspirados en uan cafetería pastelería local">
                </li>
            </ul>

            <h2 class="h2">Jabones artesanos para limpieza.</h2>
            <p class="u-mb-section">
                Hacemos jabones con aceite de oliva reciclado, a la manera tradicional, mediante el proceso de saponificación en frío. Como aroma le añadimos
                aceite esencial de lavanda.
            </p>
            <ul class="c-list-details">
                <li class="c-list-details__detail">
                    <img src="/img/soaps/soap-b-1.jpg" alt="Jabón para limpieza envuelto en papel reciclado">
                </li>
                <li class="c-list-details__detail">
                    <img src="/img/soaps/soap-b-2.jpg" alt="Caja de madera abierta con jabones para limpieza envueltos en papel reciclado">
                </li>
            </ul>
        </main>

        {% include "m-footer.html" %}
    </body>
</html>
